.flexfind{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 90%; */
  /* margin: 1vw;
  padding: 1vw;
  text-align: center;
  border: solid #14161a 1px;
  border-radius: 25px;
  box-shadow: #65e8ff 0 0 10px; */
}


